services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony-app2
    volumes:
      - ./:/var/www/app
    ports:
      - "8084:80"
    depends_on:
      - db
    environment:
      DATABASE_URL: "mysql://root:root@db:3306/Film_db?serverVersion=11&charset=utf8mb4"

  db:
    image: mariadb:11
    container_name: symfony-db2
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Film_db
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      timeout: 10s
      retries: 10
      interval: 10s
      start_period: 30s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: symfony-phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  db_data:
