services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony-app2
    volumes:
      - ./:/var/www/app
    ports:
      - "8084:80"
    depends_on:
      - db

  db:
    image: mariadb:11
    container_name: symfony-db2
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: application
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./Film_db.sql:/docker-entrypoint-initdb.d/application.sql:ro

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: symfony-phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    ports:
      - "8080:80"
    depends_on:
      - db
    restart: unless-stopped

volumes:
  db_data:
